<div class="journal-nav">

  <div class="journal-nav-prev">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}">
        <i class="fa-solid fa-arrow-left"></i> {{ page.previous.title }}
      </a>
    {% else %}
      <span class="disabled">
        <i class="fa-solid fa-arrow-left"></i> Previous
      </span>
    {% endif %}
  </div>

  <div class="journal-nav-next">
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}">
        {{ page.next.title }} <i class="fa-solid fa-arrow-right"></i>
      </a>
    {% else %}
      <span class="disabled">
        Next <i class="fa-solid fa-arrow-right"></i>
      </span>
    {% endif %}
  </div>

</div>